<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Cloud Computing Assignment 2 Web App</title>
</head>

<nav aria-label="Main Menu">
<ul id="wporg-header-menu">
<li class="menu-item"><a href='/' data-title='Home_Page'>Home</a></li>
<li class="menu-item"><a href='/user_login/' data-title='Login for user'>User_Login</a></li>
<li class="menu-item"><a href='/' data-title='Login for Admin'>Admin_Login</a></li>
<li class="menu-item"><a href='/logout' data-title='Login for Admin'>Logout</a></li>
</ul>
</nav>
</body>
</html>




    

